.registerBox{
    @include form;
    @include errorBox;
    @media (min-width: 720px) and (orientation: portrait) {
        min-height: 615px;   
     }
     &__description{
         @media (min-width: 1024px) and (orientation: landscape){
            font-size: 36px;
            margin-bottom: 55px;
         }
     }
     &__btnContainer {
        flex-direction: row;
        justify-content: space-evenly;
         @media (min-width: 720px) and (orientation: landscape) {
                 margin-top: 20px;
             }
     }
     &__inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (orientation: landscape){
            flex-direction: row;
            font-size: 16px;
        }
        @media (min-width: 720px) and (orientation: landscape){
            font-size: 18px;
        }
        @media (min-width: 1024px) and (orientation: landscape){
            font-size: 22px;
        }
     }
     &__input{
         margin-top: 0;
         @media (min-width: 720px) and (orientation: portrait){
            width: 250px;
            margin-top: 10px;
        }
         @media (orientation: landscape){
            width: 100px;
        }
         @media (min-width: 1024px) and (orientation: landscape){
            width: 150px;
            font-size: 17px;
        }
     }
     &__label {
        @media (min-width: 720px) and (orientation: portrait){
            margin-top: 20px; 
        }
        @media (min-width: 720px) and (orientation: landscape){
            margin-left: 3vw;
        } 
     }
}