.start{
   @include pagesPosition;
    padding: 20px;
    &__welcome{
        font-size: 32px;
        margin-bottom: 10px;
        @media (min-width: 720px) and (orientation: portrait) {
            font-size: 45px;
            margin-bottom: 50px;
        }
        @media (min-width: 1024px) and (orientation: portrait) {
            font-size: 60px;
            margin-bottom: 40px;
        }
        @media (min-width:1024px) and (orientation: landscape){
            font-size: 45px;
        }
    }
    &__question{
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 24px;
        @media (min-width: 720px) and (orientation: portrait), (min-width:1024px) and (orientation: landscape){
            font-size: 32px;
            margin-bottom: 30px;
        }
        @media (min-width: 1024px) and (orientation: portrait){
            font-size: 45px;
        }
    }
    &__btnContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
  }
  &__choice{
    @include btn;
    @media (min-width: 720px) and (orientation: landscape) {
         width: 160px;
        height: 45px;
    }
    @media (min-width:1024px) and (orientation: landscape) {
        width: 210px;
        height: 55px;
        font-size: 22px;
    }
    @media (min-width: 720px) and (orientation: portrait) {
        width: 240px;
        height: 65px;
        font-size: 25px;
    }
    @media (min-width: 1024px) and (orientation: portrait){
        width: 310px;
        height: 80px;
        font-size: 33px;
        margin-top: 40px;
    }
}
}