.header {
    width: 100%;
    height: 10vh;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: transparent;
    @media (min-width: 540px) and (orientation: landscape) {
      height: 15vh;
    }
    &__logo{
       font-family: 'PT Serif', serif;
       font-size: 18px;
       padding: 15px;
       margin-top: 10px;
       margin-left: 10px;
       @media (min-width: 720px) and (orientation: portrait) {
         font-size: 25px;
       }
       @media (min-width: 1024px) and (orientation: landscape){
        font-size: 22px;
      }
    }
    &__hamburger{
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: 2px solid rgb(255, 255, 255);
      cursor: pointer;
      @media (min-width: 720px) and (min-height: 640px){
        width: 46px;
        height: 46px;
        font-size: 20px;
      }
      @media(orientation: landscape) {
        right: 2%;
      }
      & .fa-times{
        font-size: 20px;
      }
    }
    &__menu{
        position: fixed;
        top: 0;
        bottom: 5vh;
        right: 0;
        z-index: 2;
        background-color: rgb(0,0,0);
        transition: .4s;
        width: 100%;
        &--hidden{
          margin-right: -100%;
      }
    }
    &__menuList{
      height: 100%;
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      align-items: center;
      margin-top: 15vh;
      @media (orientation: portrait){
        margin-top: 10vh;
      }
   }
   &__item{
     font-size: 16px;
     text-transform: uppercase;
     width: 100%;
    @media (min-width: 375px){
      font-size: 18px;
    }
    @media (min-width: 768px) and (orientation: portrait), (min-width: 1024px) {
      font-size: 28px;
    }
    transition: .2s;
      & a{
        transition: .2s;
      }:hover{
        font-size: 1.2em;
        text-decoration: underline;
        text-decoration-color: rgb(187, 127, 54);
        text-decoration-thickness: 2px;
      }
    &--active {
      font-size: 1.2em;
      color: rgb(187, 127, 54);
    }
  }
  }
  