* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 10vh;
}

@media (min-width: 540px) and (orientation: landscape) {
  .header {
    height: 15vh;
  }
}

.header__menu {
  height: 95vh;
}

.header__menu--hidden {
  margin-right: -100%;
}

main {
  height: 95vh;
  background-image: url(../../img/achieve-sunset.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .opacity {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer {
  height: 5vh;
}

.header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.header__logo {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  padding: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .header__logo {
    font-size: 25px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__logo {
    font-size: 22px;
  }
}

.header__hamburger {
  position: absolute;
  right: 0;
  margin-right: calc(10vw - 15px);
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
}

@media (orientation: landscape) {
  .header__hamburger {
    margin-right: calc(6vw - 15px);
  }
}

@media (min-width: 720px) and (orientation: portrait) {
  .header__hamburger {
    width: 46px;
    height: 46px;
    font-size: 20px;
    margin-right: calc(10vw - 23px);
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__hamburger {
    margin-right: calc(6vw - 20px);
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

.header__menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(7, 8, 10, 0.5);
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  width: 20vw;
  font-size: 16px;
}

@media (orientation: landscape) {
  .header__menu {
    width: 12vw;
  }
}

.header__menuList {
  text-align: center;
  margin-top: 40px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .header__menuList {
    margin-top: 75px;
    font-size: 22px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__menuList {
    margin-top: 80px;
  }
}

.header__item {
  margin-top: 50px;
}

@media (min-width: 540px) and (orientation: landscape) {
  .header__item {
    font-size: 15px;
    margin-top: 30px;
  }
}

@media (min-width: 700px) and (orientation: landscape) {
  .header__item {
    font-size: 17px;
    margin-top: 35px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__item {
    font-size: 22px;
    margin-top: 50px;
  }
}

.home {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0%;
  right: 0%;
  text-shadow: 1px 1px black;
  height: 300px;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 20px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .home {
    margin-bottom: 20px;
    height: 400px;
  }
}

.home__title {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 40px;
}

@media (min-width: 400px) and (orientation: portrait) {
  .home__title {
    font-size: 33px;
  }
}

@media (min-width: 720px) and (orientation: portrait) {
  .home__title {
    font-size: 38px;
    margin-top: 15px;
    margin-bottom: 45px;
  }
}

@media (min-width: 720px) and (orientation: landscape) {
  .home__title {
    font-size: 32px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .home__title {
    font-size: 40px;
  }
}

.home__intro {
  margin-left: 10vw;
  margin-right: 10vw;
  font-weight: lighter;
}

@media (min-width: 400px) and (orientation: portrait) {
  .home__intro {
    font-size: 20px;
  }
}

@media (min-width: 720px) and (orientation: portrait) {
  .home__intro {
    margin-top: 58px;
    font-size: 27px;
  }
}

@media (min-width: 720px) and (orientation: landscape) {
  .home__intro {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .home__intro {
    font-size: 21px;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .home__intro {
    font-size: 22px;
  }
}

.home__start, .home__next {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 720px) and (orientation: portrait) {
  .home__start, .home__next {
    width: 200px;
    height: 51px;
    font-size: 20px;
    border: 1.5px solid white;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .home__start, .home__next {
    font-size: 20px;
    border: 1.5px solid white;
  }
}

.home__start:hover, .home__next:hover {
  background-color: black;
}

@media (min-width: 540px) and (orientation: landscape) {
  .home__start, .home__next {
    bottom: 32px;
  }
}

.start {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0%;
  right: 0%;
  text-shadow: 1px 1px black;
  padding: 20px;
}

.start__welcome {
  font-size: 32px;
  margin-bottom: 10px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .start__welcome {
    font-size: 45px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .start__welcome {
    font-size: 60px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .start__welcome {
    font-size: 45px;
  }
}

.start__question {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 24px;
}

@media (min-width: 720px) and (orientation: portrait), (min-width: 1024px) and (orientation: landscape) {
  .start__question {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .start__question {
    font-size: 45px;
  }
}

.start__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start__choice {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (min-width: 720px) and (orientation: portrait) {
  .start__choice {
    width: 200px;
    height: 51px;
    font-size: 20px;
    border: 1.5px solid white;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .start__choice {
    font-size: 20px;
    border: 1.5px solid white;
  }
}

.start__choice:hover {
  background-color: black;
}

@media (min-width: 720px) and (orientation: landscape) {
  .start__choice {
    width: 160px;
    height: 45px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .start__choice {
    width: 210px;
    height: 55px;
    font-size: 22px;
  }
}

@media (min-width: 720px) and (orientation: portrait) {
  .start__choice {
    width: 240px;
    height: 65px;
    font-size: 25px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .start__choice {
    width: 310px;
    height: 80px;
    font-size: 33px;
    margin-top: 40px;
  }
}

.motivationBox {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.motivationBox__textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: black;
  border: 4px solid saddlebrown;
  min-height: 45vh;
  width: 90%;
  max-width: 700px;
}

@media (orientation: landscape) {
  .motivationBox__textBox {
    width: 60%;
    min-height: 70vh;
  }
}

.motivationBox__description, .motivationBox__main {
  font-family: 'Philosopher', sans-serif;
  font-weight: lighter;
  margin: 10% 5% 2%;
}

@media (orientation: landscape) {
  .motivationBox__description, .motivationBox__main {
    margin-top: 5%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .motivationBox__description, .motivationBox__main {
    margin-top: 10%;
  }
}

.motivationBox__main {
  font-size: 19px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .motivationBox__main {
    font-size: 28px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .motivationBox__main {
    font-size: 27px;
  }
}

.motivationBox__descriptionWrapper {
  max-height: 110px;
  overflow: auto;
  margin: 5%;
}

@media (min-width: 720px) and (orientation: portrait) {
  .motivationBox__descriptionWrapper {
    max-height: 150px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .motivationBox__descriptionWrapper {
    max-height: 250px;
  }
}

@media (min-height: 800px) and (orientation: portrait) {
  .motivationBox__descriptionWrapper {
    max-height: 180px;
  }
}

.motivationBox__description {
  text-align: right;
  margin-top: 15px;
  font-size: 17px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .motivationBox__description {
    font-size: 25px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .motivationBox__description {
    font-size: 24px;
  }
}

.motivationBox__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 10%;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.motivationBox__btn {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  width: 120px;
  height: 30px;
  background-color: #a05017;
}

@media (min-width: 720px) and (orientation: portrait) {
  .motivationBox__btn {
    width: 200px;
    height: 51px;
    font-size: 20px;
    border: 1.5px solid white;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .motivationBox__btn {
    font-size: 20px;
    border: 1.5px solid white;
  }
}

.motivationBox__btn:hover {
  background-color: black;
}

.motivationBox__btn:hover {
  background-color: #864212;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .motivationBox__btn {
    width: 160px;
    height: 45px;
  }
}

.loginBox {
  margin-top: 15vh;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0%;
  right: 0%;
  text-shadow: 1px 1px black;
  padding: 20px;
}

@media (max-height: 570px) and (orientation: portrait) {
  .loginBox {
    margin-top: 40px;
  }
}

@media (max-height: 320px) and (orientation: landscape) {
  .loginBox {
    margin-top: 60px;
  }
}

.loginBox__errMessage {
  height: 24px;
}

@media (max-width: 800px) and (orientation: landscape) {
  .loginBox__errorBox--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.loginBox__description {
  font-size: 25px;
}

@media (min-width: 400px) and (orientation: portrait) {
  .loginBox__description {
    font-size: 28px;
  }
}

@media (min-width: 720px) and (orientation: portrait) {
  .loginBox__description {
    font-size: 38px;
  }
}

@media (max-height: 320px), (max-width: 320px) {
  .loginBox__description {
    font-size: 22px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .loginBox__description {
    font-size: 32px;
  }
}

.loginBox__inputs {
  margin-top: 20px;
  font-size: 20px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .loginBox__inputs {
    font-size: 28px;
    margin-top: 40px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .loginBox__inputs {
    font-size: 25px;
  }
}

.loginBox__inputs input:-webkit-autofill,
.loginBox__inputs input:-webkit-autofill:hover,
.loginBox__inputs input:-webkit-autofill:focus,
.loginBox__inputs input:-internal-autofill-selected {
  -webkit-text-fill-color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.loginBox__input {
  margin: 10px;
  text-align: left;
  padding-left: 5px;
  width: 180px;
  font-size: 15px;
  line-height: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid white;
  outline: none;
}

@media (min-width: 720px) {
  .loginBox__input {
    border-bottom: 2px solid white;
  }
}

.loginBox__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 720px) and (orientation: portrait) {
  .loginBox__btnContainer {
    margin-top: 45px;
  }
}

.loginBox__login, .loginBox__register {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  width: 130px;
  height: 30px;
  font-size: 14px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .loginBox__login, .loginBox__register {
    width: 200px;
    height: 51px;
    font-size: 20px;
    border: 1.5px solid white;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .loginBox__login, .loginBox__register {
    font-size: 20px;
    border: 1.5px solid white;
  }
}

.loginBox__login:hover, .loginBox__register:hover {
  background-color: black;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .loginBox__login, .loginBox__register {
    width: 170px;
    height: 40px;
    font-size: 18px;
  }
}

.loginBox__errorBox {
  opacity: 0;
  min-height: 105px;
  margin-top: 10px;
}

.loginBox__errMessage {
  display: block;
  color: red;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-top: 10px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .loginBox__errMessage {
    font-size: 16px;
  }
}

@media (min-width: 1240px) and (orientation: landscape) {
  .loginBox__errMessage {
    font-size: 14px;
  }
}

.loginBox__errorBox--show {
  opacity: 1;
}

.registerBox {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0%;
  right: 0%;
  text-shadow: 1px 1px black;
  padding: 20px;
}

.registerBox__description {
  font-size: 25px;
}

@media (min-width: 400px) and (orientation: portrait) {
  .registerBox__description {
    font-size: 28px;
  }
}

@media (min-width: 720px) and (orientation: portrait) {
  .registerBox__description {
    font-size: 38px;
  }
}

@media (max-height: 320px), (max-width: 320px) {
  .registerBox__description {
    font-size: 22px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .registerBox__description {
    font-size: 32px;
  }
}

.registerBox__inputs {
  margin-top: 20px;
  font-size: 20px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .registerBox__inputs {
    font-size: 28px;
    margin-top: 40px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .registerBox__inputs {
    font-size: 25px;
  }
}

.registerBox__inputs input:-webkit-autofill,
.registerBox__inputs input:-webkit-autofill:hover,
.registerBox__inputs input:-webkit-autofill:focus,
.registerBox__inputs input:-internal-autofill-selected {
  -webkit-text-fill-color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.registerBox__input {
  margin: 10px;
  text-align: left;
  padding-left: 5px;
  width: 180px;
  font-size: 15px;
  line-height: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid white;
  outline: none;
}

@media (min-width: 720px) {
  .registerBox__input {
    border-bottom: 2px solid white;
  }
}

.registerBox__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 720px) and (orientation: portrait) {
  .registerBox__btnContainer {
    margin-top: 45px;
  }
}

.registerBox__login, .registerBox__register {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  width: 130px;
  height: 30px;
  font-size: 14px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .registerBox__login, .registerBox__register {
    width: 200px;
    height: 51px;
    font-size: 20px;
    border: 1.5px solid white;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .registerBox__login, .registerBox__register {
    font-size: 20px;
    border: 1.5px solid white;
  }
}

.registerBox__login:hover, .registerBox__register:hover {
  background-color: black;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .registerBox__login, .registerBox__register {
    width: 170px;
    height: 40px;
    font-size: 18px;
  }
}

.registerBox__errorBox {
  opacity: 0;
  min-height: 105px;
  margin-top: 10px;
}

.registerBox__errMessage {
  display: block;
  color: red;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-top: 10px;
}

@media (min-width: 720px) and (orientation: portrait) {
  .registerBox__errMessage {
    font-size: 16px;
  }
}

@media (min-width: 1240px) and (orientation: landscape) {
  .registerBox__errMessage {
    font-size: 14px;
  }
}

.registerBox__errorBox--show {
  opacity: 1;
}

@media (min-width: 720px) and (orientation: portrait) {
  .registerBox {
    min-height: 615px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .registerBox__description {
    font-size: 36px;
    margin-bottom: 55px;
  }
}

.registerBox__btnContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 720px) and (orientation: landscape) {
  .registerBox__btnContainer {
    margin-top: 20px;
  }
}

.registerBox__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (orientation: landscape) {
  .registerBox__inputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 16px;
  }
}

@media (min-width: 720px) and (orientation: landscape) {
  .registerBox__inputs {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .registerBox__inputs {
    font-size: 22px;
  }
}

.registerBox__input {
  margin-top: 0;
}

@media (min-width: 720px) and (orientation: portrait) {
  .registerBox__input {
    width: 250px;
    margin-top: 10px;
  }
}

@media (orientation: landscape) {
  .registerBox__input {
    width: 100px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .registerBox__input {
    width: 150px;
    font-size: 17px;
  }
}

@media (min-width: 720px) and (orientation: portrait) {
  .registerBox__label {
    margin-top: 20px;
  }
}

@media (min-width: 720px) and (orientation: landscape) {
  .registerBox__label {
    margin-left: 3vw;
  }
}

.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.contact__informations {
  margin: 0 auto 10vh;
}

@media (orientation: landscape) {
  .contact__informations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact__info {
  font-family: 'PT Serif', 'serif';
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
  margin-top: 2vh;
}

@media (orientation: landscape) {
  .contact__info {
    margin-left: 3vw;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15vh 0 0;
}

.contact__input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #cccccc;
  margin: 1vh auto 1vh;
  height: 4.5vh;
  width: 70vw;
  max-width: 800px;
  font-size: 14px;
}

@media (orientation: landscape) {
  .contact__input {
    width: 60vw;
    height: 8vh;
  }
}

.contact__message {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #cccccc;
  height: 30vh;
  width: 70vw;
  max-width: 800px;
  margin-top: 1vh;
  font-size: 14px;
  padding: 2vw;
}

@media (orientation: landscape) {
  .contact__message {
    width: 60vw;
  }
}

.contact__btn {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  height: 30px;
  margin: 4vh auto 0;
}

@media (min-width: 720px) and (orientation: portrait) {
  .contact__btn {
    width: 200px;
    height: 51px;
    font-size: 20px;
    border: 1.5px solid white;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .contact__btn {
    font-size: 20px;
    border: 1.5px solid white;
  }
}

.contact__btn:hover {
  background-color: black;
}

.contact textarea:-webkit-autofill,
.contact textarea:-webkit-autofill:hover,
.contact textarea:-webkit-autofill:focus,
.contact textarea:-internal-autofill-selected,
.contact input:-webkit-autofill,
.contact input:-webkit-autofill:hover,
.contact input:-webkit-autofill:focus,
.contact input:-internal-autofill-selected {
  -webkit-text-fill-color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 720px) and (orientation: portrait) {
  .contact input, .contact textarea, .contact__informations__info {
    font-size: 20px;
  }
}

.footer {
  background-color: black;
}

.footer__txt {
  color: white;
  font-size: 10px;
  line-height: 5vh;
}
/*# sourceMappingURL=main.css.map */